.wrapper{
    width: 100%;
    height: 683px;
    display: flex;
    gap: 10px;
}
.pic-1{
    background-image: url("/9/assets/1.jpeg");
}
.pic-2{
    background-image: url("/9/assets/2.jpeg");
}
.pic-3{
    background-image: url("/9/assets/3.jpeg");
}
.pic-4{
    background-image: url("/9/assets/4.jpeg");
}
.pic-5{
    background-image: url("/9/assets/5.jpeg");
}
.pic-6{
    background-image: url("/9/assets/6.jpeg");
}
.pic-7{
    background-image: url("/9/assets/7.jpeg");
}
.pic-8{
    background-image: url("/9/assets/8.jpeg");
}
.small{
    width: 300px;
    height: 235px;
    background-size: cover;
    background-repeat: no-repeat;
}
.large{
    width: 300px;
    height: 471px;
    background-size: cover;
    background-repeat: no-repeat;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}