body{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
}

.container{
    background-color: rgb(207, 209, 213);
     width: 100%;
     height: 693px;

    padding:8px ;
}

.title{
    margin-left: 10px;
    font-size: 23px;
    color: rgb(30,38,85);
    font-weight: bold;
}
.wrapper{
    
   height: 568px;
    display: flex;
    gap: 7px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(30,38,85);
}

.fa-solid , .fas , .fa{
    color: rgb(30,38,85);
    font-size: 47px;
    /* padding: 15px; */
}
.box{
    width: 165px;
    height: 165px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.svgs{
    width: 60px;
    height: 60px;
}

@media screen and (min-width : 320px) {
    .container{
        height: 1610px;
    }
    .box{
        width: 120px;
        height: 120px;
    }
    .svgs{
        width: 30px;
        height: 30px;
    }
    
}

@media screen and (min-width : 425px) {
    .box{
        width: 130px;
        height: 130px;
    }
    .svgs{
        width: 30px;
        height: 30px;
    }
    
}
@media screen and (min-width : 480px) {
    .box{
        width: 110px;
        height: 110px;
    }
    .svgs{
        width: 35px;
        height: 35px;
    }
    
}

@media screen and (min-width : 600px) {
    .box{
        width: 110px;
        height: 110px;
    }
    .svgs{
        width: 45px;
        height: 45px;
    }
    
}
@media screen and (min-width : 1440px) {
    .box{
        width: 165px;
        height: 165px;
    }
    .svgs{
        width: 60px;
        height: 60px;
    }
    
}